/*importacion fuente tipográfica a usar (incluir dentro de carpeta fuentes)*/
@font-face{
   font-family: FuentePropiaMultimedia Regular;
   src:url("Fonts/FuentePropiaMultimedia-Regular.ttf");
}

@font-face{
   font-family: Fuentepropiamultimedianums Regular;
   src:url("Fonts/Fuentepropiamultimedianums-Regular.ttf");
}

@font-face{
   font-family: Timeless;
   src:url("Fonts/Timeless.ttf");
}

@font-face{
   font-family: old stamper;
   src:url("Fonts/old_stamper.ttf");
}

.full-page{
	font-family: Timeless;
	/*background-image: url("imagenes/positverde.png");*/
	background-color: white;
	max-width: 1300;
    font-size: 220%;
	margin-right: auto;
	margin-left: auto;
}
h1{font-size: 200%;}
h2{font-size: 150%;}

.nav-item{
	font-family: "FuentePropiaMultimedia Regular";
	font-size: 35px;
	margin-top: 1.2%;
	margin-bottom: 1%;
	color: #0D9337; /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
	background-image: url("imagenes/positverde.png");
	background-size: 100% 100%;
	/*Mirar para que sea siempre visible el posit*/
}

nav-item:focus{
	color:#000000;
}

.tituloJuego{
	font-family: "FuentePropiaMultimedia Regular";
	font-size: 100px;
	font-weight: bold;
	position: relative;
	margin-top: 1%;
	margin-bottom: 1.2%;
	background-image: url("imagenes/positverde.png");
	background-size: 100% 100%;
}

.mr{
	font-size: 120px;
}

.revenge{
	font-family: "old stamper";
	font-size: 115px;
	color: #6B3711;
}

.titulis{
	font-family: "FuentePropiaMultimedia Regular";
	font-weight: bold;
	font-size: 65px;
	margin-top: 1.5%;
	margin-bottom: 1.5%;
}

.apoya{
	font-family: "old stamper";
	font-size: 115px;
	margin-top: 1%;
	margin-bottom: 2%;
	background-image: url("imagenes/positverde.png");
	background-size: 100% 100%;
}

.card-title{
	font-family: "FuentePropiaMultimedia Regular";
	font-weight: bold;
	font-size: 65px;
}

.numHelp{
	font-family: "Fuentepropiamultimedianums Regular";
	font-weight: bold;
	font-size: 65px;
}

.faq{
	font-family: "old stamper";
	font-size: 115px;
	margin-top: 1%;
	margin-bottom: 2%;
	background-image: url("imagenes/positverde.png");
	background-size: 100% 100%;
}

/* editar esto prq queda muy en negrita. Tal vez usar fuente creada o dejar fuente general !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.preg{
	font-family: "FuentePropiaMultimedia Regular";
	font-weight: bold;
	font-size: 65px;
}

.num{
	font-family: "Fuentepropiamultimedianums Regular";
	font-weight: bold;
	font-size: 65px;
}

.banner{
	max-height: 500px;
    width: auto;
}

.header{
    background-color: white;
}

.mainBody{
 padding-top: 1%;
 padding-bottom: 4%;
}


.footer{
    text-align: center;
    background-color: white;
}

.form{
    text-align: center;
}


.card-radio{
    margin-bottom: 5%;
}

.card-input+.card:hover {
    cursor: pointer;
}

.card-input:checked+.card {
    border: 2px solid blue;
}
.card{
    position: relative;
    right: 30%;
    width: 150%;
    text-align: center;
}

.footer{
	font-family: "FuentePropiaMultimedia Regular";
	font-size: 20px;
	background-color: #EEE3D8;
}