/*importacion fuente tipográfica a usar (incluir dentro de carpeta fuentes)*/
@font-face{
   font-family: KGMidnightMemories;
   src:url("Fonts/KGMidnightMemories.ttf");
}


.full-page{
	font-family: KGMidnightMemories;

	background-color: white;
	max-width: 1300;
    font-size: 220%;
	margin-right: auto;
	margin-left: auto;
}
h1{font-size: 200%;}
h2{font-size: 150%;}

/*pone en el vídeo que .clearfix sirve para arreglar los cajetines, pero ns si sirve en este caso*/
.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.banner{
    width: auto;
}

.header{
    background-color: white;
}

.mainBody{
 padding-top: 1%;
 padding-bottom: 2%;
}


.footer{
    text-align: center;
    background-color: white;
}
.form{
    
}

.donaciones{
}

.card-radio{
    margin-bottom: 5%;
}

.card-input+.card:hover {
    cursor: pointer;
}

.card-input:checked+.card {
    border: 2px solid blue;
}